[Desktop Entry]
Type=Application
Name=Mytory Font Merger
Comment=Merge multiple fonts into one multilingual font
Exec=mytory-font-merger
Icon=mytory-font-merger
Terminal=false
Categories=Utility;Graphics;
